.App {
  width: 100vw;
  /* background-color:rgba(240, 240, 240); */
  display: flex;
  flex-direction: column;
  
}
.title{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  border-bottom: 1px solid black;
}

.table{
  width:100%;
}

.table table {
   
  width : 80%;
  margin: 0 auto;
  margin-top: 30px;
  background: #ffffff;
box-shadow:  20px 20px 60px #d9d9d9, 
             -20px -20px 60px #ffffff;
}
table td {
  text-align: center;
}
table tbody tr {
  border-bottom: 1px solid black;
}
 

.options{
  display: flex;
  justify-content: center;
  align-items: center;
}

.options button{
  padding: 5px 20px;
  font-size : 15px;
  border:0;
  border-radius: 25px;
  outline: none;
  cursor: pointer; 
  margin: 20px 20px;
}
.options button:focus{
  outline: none;
}

.addButton{
  background-color: green;
  color : white;
}

.delButton{
  background-color: rgb(243, 38, 38);
  color:white;
}

.resetButton{
  background-color: rgb(0, 68, 255);
  color:white;
}
.addButton:focus{
  border:0;
}

.priceinput {
  width: 100px;
  border: 0;
  border-bottom: 1px solid black;
  cursor: pointer;
}
td{
  padding: 5px 0;
}

.nameinput {
  border: 0;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.border-bottom{
  border-bottom: 1px solid black;
}